h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


ul {
    list-style: none;
}

img {
    display: block;
}

button {
    font-family: inherit;
    border: none;
    background: transparent;

}

a {
    text-decoration: none;
    font-style: normal;

}

button,
a {
    cursor: pointer;
}

div {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: $primary-font-color;
    background-color: $background-color;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 4px;
    }
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}