$primary-font: "Montserrat", sans-serif;

$primary-font-color: #393939;
$background-color: #393939;
$secondary-background-color: #676666;
$accent-color: #fe9a00;
$textcolor: #ffffff;
$button-color: #fec001;
$disabled-button-color: linear-gradient(0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)),
  linear-gradient(277.6deg,
    rgba(106, 120, 126, 0.26) 25.05%,
    rgba(241, 241, 241, 0.26) 87.62%);
$disabled-button-text-color: rgba(255, 255, 255, 0.5);
$box-shadow-hover: 0px 5px 30px rgba(254, 201, 1, 0.4);
$button-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.50);
$placeholder-color: #676666;
$placeholder-color--light: rgba(80, 80, 80, 0.45);
$card-extended-color: #676666;
$active-text-color: #993300;
$gradient-color: linear-gradient(277.6deg, #ff6600 25.05%, #fec901 87.62%);
$card-bg-color: #fff;
$form-space-color: rgba(255, 255, 255, 0.85);
$modal-window-bg-color: rgba(57, 57, 57, 0.959);
$disclaimer-color: #fff;
$link-color: #32A7D9;
$public-url: "/public/images/";

$transition-props: 300ms cubic-bezier(0.4, 0, 0.2, 1);

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-tablet--m: 785px;
$breakpoint-tablet-max: 1199px;

$breakpoint-desktop: 1200px;