.article-content__section {
    background-color: $textcolor;
    padding-bottom: 100px;

}

.article__hero-bg {
    height: 170px;
    width: 100%;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #fff 2%, #ffffff80 10% 60%,
        #fff 100%),
    linear-gradient(to left, #fff 2%, #ffffff4f 10% 90%,
        #fff 98%),
    url("#{$public-url}/desktop/hero-bg/bg1-desktop.png");

    @supports (background-image: url("#{$public-url}desktop/hero-bg/bg1-desktop.webp")) {
        background-image: linear-gradient(to bottom, #fff 2%, #ffffff80 10% 60%,
            #fff 100%),
        linear-gradient(to left, #fff 2%, #ffffff4f 10% 90%,
            #fff 98%),
        url("#{$public-url}desktop/hero-bg/bg1-desktop.webp");
    }

    @media screen and (min-width: $breakpoint-tablet) {
        height: 250px;

        padding-top: 96px;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        height: 400px;
        padding-top: 130px;

    }

}

.article2__hero-bg {
    @extend .article__hero-bg;
    background-image: linear-gradient(to bottom, #fff 2%, #ffffff80 10% 60%,
        #fff 100%),
    linear-gradient(to left, #fff 2%, #ffffff4f 10% 90%,
        #fff 98%),
    url("#{$public-url}/desktop/hero-bg/bg2-desktop.png");

    @supports (background-image: url("#{$public-url}desktop/hero-bg/bg2-desktop.webp")) {
        background-image: linear-gradient(to bottom, #fff 2%, #ffffff80 10% 60%,
            #fff 100%),
        linear-gradient(to left, #fff 2%, #ffffff4f 10% 90%,
            #fff 98%),
        url("#{$public-url}desktop/hero-bg/bg2-desktop.webp");
    }
}

.article3__hero-bg {
    @extend .article__hero-bg;
    background-image: linear-gradient(to bottom, #fff 2%, #ffffff80 10% 60%,
        #fff 100%),
    linear-gradient(to left, #fff 2%, #ffffff4f 10% 90%,
        #fff 98%),
    url("#{$public-url}/desktop/hero-bg/bg3-desktop.png");

    @supports (background-image: url("#{$public-url}desktop/hero-bg/bg3-desktop.webp")) {
        background-image: linear-gradient(to bottom, #fff 2%, #ffffff80 10% 60%,
            #fff 100%),
        linear-gradient(to left, #fff 2%, #ffffff4f 10% 90%,
            #fff 98%),
        url("#{$public-url}desktop/hero-bg/bg3-desktop.webp");
    }
}

.article-contet__title {
    font-size: 20px;

    text-align: center;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 32px;


    }

    @media screen and (min-width: $breakpoint-desktop) {

        font-size: 48px;
        font-weight: 700;

    }

}

.article__list-wrapper {
    position: relative;
    top: -40px;

    @media screen and (min-width: $breakpoint-tablet) {
        top: -50px;

    }


}

.article-content__list-title {
    font-weight: 700;


    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 22px;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 24px;

    }
}

.article-contet__dialog {
    position: relative;

    &::before {
        content: "\2014";
        position: absolute;
        top: 0;
        left: -30px;
        color: rgb(34, 168, 34);
    }
}