.button-common {
    padding: 15px 25px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    background: $accent-color;
    border-radius: 10px;
    color: $textcolor;
    transition: all $transition-props;

    &:hover,
    &:focus {
        padding: 15px 35px;
        background: $button-color;
    }

    &:active {
        color: $active-text-color;
        box-shadow: $box-shadow-hover;
    }

    @media screen and (min-width: $breakpoint-tablet) {}
}

.img-fun {

    &:hover,
    &:focus {
        animation: rotateAndZoom 5s infinite;
    }

}