.form__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: $breakpoint-desktop) {
        gap: 16px;
    }
}

.form__input {
    border: 1px solid $accent-color;
    background-color: transparent;
    width: 193px;
    height: 35px;
    border-radius: 10px;
    padding-left: 5px;
    font-family: $primary-font;
    font-weight: 400;
    color: $textcolor;

    &:focus {
        outline: none;
        border-color: $card-bg-color ;
        box-shadow: none
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: $placeholder-color;

    }

    @media screen and (min-width: $breakpoint-tablet) {
        width: 334px;
        height: 35px;

        &::placeholder {
            font-size: 14px;

        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 443px;
        height: 40px;

        &::placeholder {
            font-size: 16px;
        }
    }
}



.form__textarea {
    @extend .form__input;
    font-family: inherit;
    height: 70px;
    padding-top: 7px;
    resize: none;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 4px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        height: 80px;
    }
}

.form__button {
    display: block;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 16px;
    box-shadow: $button-box-shadow;
    margin-top: 33px;

    &:disabled {
        background: $disabled-button-color;
        color: $disabled-button-text-color;
        pointer-events: none;
    }

    &:hover,
    &:focus {
        padding: 5px 24px;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        padding: 5px 70px;
        margin-top: 3px;

        &:hover,
        &:focus {
            padding: 5px 75px;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        padding: 8px 108px;

        margin-top: 19px;

        &:hover,
        &:focus {
            padding: 8px 115px;
        }

    }
}

.form__container--light {
    @extend .form__container;

    @media screen and (min-width: $breakpoint-tablet) {
        gap: 9px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        gap: 13px
    }
}

.form__input--light {
    @extend .form__input;

    @media screen and (min-width: $breakpoint-tablet) {
        width: 275px;
        height: 25px;
        border: none;
        background-color: $card-bg-color;
        padding-left: 14px;
        font-size: 14px;
        color: $primary-font-color;


        &::placeholder {
            color: $placeholder-color--light;
        }

        &:focus {
            outline: 2px solid $accent-color
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 398px;
        height: 36px;
    }
}

.form__textarea--light {
    @extend .form__input--light;
    height: 56px;
    padding-top: 7px;
    resize: none;

    &::-webkit-scrollbar {
        width: 4px;
    }


    &::-webkit-scrollbar-track {
        background: $form-space-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 4px;
    }


    @media screen and (min-width: $breakpoint-tablet) {
        padding-top: 4px;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        padding-top: 9px;
    }

}

.form__button--light {
    @extend .form__button;
    font-weight: 400;
    font-size: 14px;
    padding: 7px 24px;
    margin-top: 13px;

    &:hover,
    &:focus {
        padding: 7px 30px;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        padding: 10px 55px;
        font-size: 16px;
        color: $primary-font-color;
        margin-top: 16px;
        box-shadow: none;
        font-weight: 600;

        &:hover,
        &:focus {
            padding: 10px 60px;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        padding: 13px 100px;

        &:hover,
        &:focus {
            padding: 13px 154px;
        }
    }
}

.form__container--countries {
    @extend .form__container;
}

.form__input--countries {
    @extend .form__input;

    @media screen and (min-width: $breakpoint-tablet) {
        color: $primary-font-color;
        width: 457px;
        height: 39px;

        &::placeholder {
            color: $placeholder-color--light
        }
    }
}

.form__textarea--countries {
    @extend .form__textarea;

    &::-webkit-scrollbar-track {
        background: $form-space-color;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        width: 457px;
        color: $primary-font-color;

        &::placeholder {
            color: $placeholder-color--light
        }
    }


}

.form__button--countries {
    @extend .form__button;

    @media screen and (min-width: $breakpoint-tablet) {

        padding: 8px 101px;

        &:hover,
        &:focus {
            padding: 8px 187px;
        }
    }
}

.form__validation-message {

    font-weight: 400;
    font-size: 12px;
    color: $validation-message-color;
    width: 193px;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 14px;
        width: 334px;
    }



    @media screen and (min-width: $breakpoint-desktop) {

        width: 443px;

    }
}

.form__validation-message--light {
    @extend .form__validation-message;



    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 12px;
        width: 275px;
        color: $validation-message-color--light;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 398px;
        font-size: 12px;


    }


}

.form__input-error {
    border: 1px solid $validation-message-color;
}

.form__input-error--light {
    border: 1px solid $validation-message-color;

    @media screen and (min-width: $breakpoint-tablet) {
        outline: 2px solid $validation-message-color--light;
    }

}