.page-hero__wrapper {
    padding: 20px 0 16px 0;
    background-color: $background-color;

    @media screen and (min-width: $breakpoint-tablet) {
        padding-top: 60px;
        padding-bottom: 60px;

    }

}

.countries-hero__wrapper {
    @media screen and (min-width: $breakpoint-tablet) {
        background-color: $card-bg-color;

    }
}

.page-hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}

.page-hero__container--countries {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $background-color;


    @media screen and (min-width: $breakpoint-tablet) {
        align-items: flex-start;
        width: 100%;
        position: relative;

        padding-top: 9px;
        padding-bottom: 26px;

        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        padding-top: 16px;
        padding-bottom: 45px;
    }
}

.route-wrapper {
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        margin-bottom: 45px;
    }
}

.route-text {
    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 12px;
        font-weight: 400;
        color: $textcolor;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 14px;
    }
}

.route-icon {
    @media screen and (min-width: $breakpoint-tablet) {
        width: 19px;
        height: 6px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.page-title {
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 500;
    max-height: 53px;
    overflow: hidden;
    text-align: center;
    max-width: 300px;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 32px;
        max-height: 300px;
        font-weight: 600;
        max-width: 1200px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 48px;
        font-weight: 700;
    }
}

.page-title--countries {
    margin-bottom: 10px;

    @media screen and (min-width: $breakpoint-tablet) {
        text-align: start;
        max-width: 330px;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        max-width: 477px;
        line-height: 1.4;
    }
}

.page-hero__info--countries {
    color: $textcolor;
    font-size: 14px;
    font-weight: 600;
    text-align: center;

    margin-bottom: 5px;


    @media screen and (min-width: $breakpoint-tablet) {
        text-align: start;
        font-size: 18px;
        margin-bottom: 10px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 20px;

    }
}


.page-hero__info-title--countries {

    font-weight: 400;
    padding-right: 5px;
    color: $form-space-color;
}

.page-hero__form-wrap {
    text-align: center;
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 62px;
    position: relative;

    @media screen and (min-width: $breakpoint-tablet) {
        align-self: flex-end;
        padding-top: 50px;
        padding-bottom: 0;
    }

    @media screen and (min-width: $breakpoint-desktop) {}
}

.countries__form-wrap {
    @media screen and (min-width: $breakpoint-tablet) {
        background-color: $card-bg-color;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }


}

.page-hero__form-title {
    font-size: 18px;
    font-weight: 400;
    color: $button-color;
    margin-bottom: 12px;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 26px;
        font-weight: 600;
        color: $textcolor;
        background-color: $button-color;
        width: 350px;
        text-align: center;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 452px
    }
}

.page-hero__form-title--countries {
    @extend .page-hero__form-title;

    @media screen and (min-width: $breakpoint-tablet) {
        margin-bottom: 5px;
        width: 457px;
    }
}

.page-hero__form-descr {
    font-size: 12px;
    color: $textcolor;
    font-weight: 400;
    margin-bottom: 25px;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 14px;
        width: 350px;
        text-align: center;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 450px;

    }
}

.page-hero__form-descr--countries {
    @extend .page-hero__form-descr;
    margin-bottom: 9px;
    color: $primary-font-color;

    @media screen and (min-width: $breakpoint-tablet) {

        width: 457px;
    }
}

.page-hero__close-btn {
    @extend .modal__close-btn;
    top: 130px;

    @media screen and (min-width: $breakpoint-tablet) {
        top: 120px;
        right: 60px;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        top: 150px;
        right: 90px;

    }
}

.countries__close-btn {
    @extend .page-hero__close-btn;

    @media screen and (min-width: $breakpoint-tablet) {
        top: 120px;
        right: 10px;

    }


}

.contries__icon-close {
    @media screen and (min-width: $breakpoint-tablet) {
        fill: $primary-font-color;

    }
}