.air-trans__bg {
    background-image: linear-gradient(#393939, #393939ea, #393939),


    url("#{$public-url}mobile/hero-bg-mobile.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $breakpoint-tablet) {
        background-image: linear-gradient(#393939, #39393949, #393939),
        linear-gradient(to left, #393939 40%, #39393913),
        url("#{$public-url}tablet/bg-plane-tablet.png");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        background-image: linear-gradient(#393939, #3939398f, #393939),
        linear-gradient(to left, #393939 40%, #39393934),
        url("#{$public-url}desktop/bg-desktop.png");

    }

}