.air-trans__bg {
    background-image: linear-gradient(#393939, #393939ea, #393939),


    url("#{$public-url}mobile/hero-bg-mobile.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $breakpoint-tablet) {
        background-image: linear-gradient(#393939, #39393949, #393939),
        linear-gradient(to left, #393939 40%, #39393913),
        url("#{$public-url}tablet/bg-plane-tablet.png");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        background-image: linear-gradient(#393939, #3939398f, #393939),
        linear-gradient(to left, #393939 40%, #39393934),
        url("#{$public-url}desktop/bg-desktop.png");

    }

}

.info-card__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;

    @media screen and (min-width: $breakpoint-tablet) {
        flex-direction: row;

        margin-bottom: 40px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        gap: 60px;

    }
}

.info-card__item {
    width: 300px;

    border-radius: 10px;
    box-shadow: 0px 5px 17px $primary-font-color;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 20px;



    @media screen and (min-width: $breakpoint-desktop) {
        width: 500px;
        padding: 10px 20px 20px 20px;
    }
}

.info-card__icon {
    width: 100px;
    height: 100px;
    fill: $button-color;
}

.info-card__title {
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $breakpoint-tablet) {

        font-size: 24px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 26px;
        font-weight: 600;
    }
}

.info-card__descr {
    font-size: 14px;
    font-weight: 400;

    margin-bottom: auto;


    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 16px;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 20px;
        font-weight: 500;

    }
}