.conditions__section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $card-bg-color;

    @media screen and (min-width: $breakpoint-tablet) {
        padding-top: 35px;
        background-image: linear-gradient(to bottom, #ffffff 0% 80%,
            #ffffff4d),

        url("#{$public-url}tablet/conditions-boxes.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;

        @supports (background-image: url("#{$public-url}tablet/conditions-boxes.webp")) {
            background-image: linear-gradient(to bottom, #ffffff 0% 80%,
                #ffffff4d),
            url("#{$public-url}tablet/conditions-boxes.webp")
        }

    }

    @media screen and (min-width: $breakpoint-desktop) {

        background-size: cover;
        background-image: linear-gradient(to bottom, #ffffff 0% 70%,
            #ffffff4d),
        url("#{$public-url}tablet/conditions-boxes.jpg");

        @supports (background-image:url("#{$public-url}tablet/conditions-boxes.webp")) {
            background-image: linear-gradient(to bottom, #ffffff 0% 70%,
                #ffffff4d),
            url("#{$public-url}tablet/conditions-boxes.webp")
        }
    }


}

.conditions__text-content {
    @media screen and (min-width: $breakpoint-tablet) {
        position: relative;
        top: -100px
    }

    @media screen and (min-width: $breakpoint-desktop) {

        top: -200px
    }

}

.conditions__bg-img {
    @media screen and (min-width: $breakpoint-tablet) {
        height: 400px;

        background-image: linear-gradient(to bottom, #393939ef 120px, #ffffffa8 200px 280px,
            #fff),
        url("#{$public-url}tablet/conditions-boxes.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        @supports (background-image:url("#{$public-url}tablet/conditions-boxes.webp")) {
            background-image: linear-gradient(to bottom, #393939ef 120px, #ffffffa8 200px 280px,
                #fff),
            url("#{$public-url}tablet/conditions-boxes.webp")
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        height: 600px;
        background-image: linear-gradient(to bottom, #393939ef 150px, #ffffffbe 250px 350px,
            #fff),

        url("#{$public-url}tablet/conditions-boxes.jpg");

        @supports (background-image:url("#{$public-url}tablet/conditions-boxes.webp")) {
            background-image: linear-gradient(to bottom, #393939ef 150px, #ffffffbe 250px 350px,
                #fff),
            url("#{$public-url}tablet/conditions-boxes.webp")
        }
    }
}

.conditions__subtitle {
    display: none;
    font-weight: 400;


    @media screen and (min-width: $breakpoint-tablet) {
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 20px;
    }
}

.conditions__img-boxes {
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
        display: block;
        height: 185px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 20px;
        height: 300px;

    }
}


.conditions__list {
    padding-left: 15px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 20px;
    }
}