.footer__container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: $breakpoint-desktop) {
        padding-top: 90px;
        padding-bottom: 65px;
    }
}

.footer__text {
    font-size: 10px;
    font-weight: 400;
    color: $textcolor;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 14px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 16px;
    }
}