.payment-section {
  @extend .roadmap-section;
  background-color: $background-color;
  padding-bottom: 75px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.payment__title {
  @extend .delivery__title;
  margin-bottom: 60px;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 32px;

    &::after {
      width: 156px;

    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 40px;

    &::after {
      width: 220;

    }

    margin-bottom: 114px;
  }
}

.payment__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: $breakpoint-tablet) {
    gap: 23px;
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    gap: 37px;
  }
}

.payment__item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 510px;
  border-radius: 10px;
  background-color: $textcolor;
  transition: box-shadow $transition-props;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-hover;
  }

  &:hover .payment__card-text-wrapper,
  &:focus .payment__card-text-wrapper {
    max-height: 400px;
    transform: translateY(-250px);
    border-radius: 10px;
  }

  &:hover .payment__btn-wrapper,
  &:focus .payment__btn-wrapper {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

  }

  @media screen and (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablet-max) {
    height: 354px;
    width: 200px;

    &:hover .payment__card-text-wrapper,
    &:focus .payment__card-text-wrapper {
      transform: translateY(-164px);
      max-height: 354px;
      padding-top: 13px;

    }
  }

  @media screen and (min-width: $breakpoint-desktop) {

    width: 300px;


  }
}

.payment__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $secondary-background-color;

  @media screen and (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablet-max) {
    height: 164px;
    width: 200px;
  }

}

.payment__info-wrapper-static {
  height: 260px;

  @media screen and (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablet-max) {
    height: 190px;

  }
}

.payment__card-text-wrapper {

  background-color: $textcolor;
  max-height: 152px;
  padding-top: 33px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  overflow: hidden;
  transition: all 1000ms ease;

  @media screen and (min-width: $breakpoint-tablet)and (max-width:$breakpoint-tablet-max) {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
  }
}

.payment__card-title {
  @extend .card__title;
  font-weight: 600;
  font-size: 18px;
  text-align: center;

  &::after {
    background: $button-color;
  }

  @media screen and (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablet-max) {
    font-size: 14px;
    font-weight: 500;
  }
}

.payment__descr {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;

}

@keyframes rotateAndZoom {


  50% {
    transform: rotate(180deg) scale(1.8);
  }

  100% {
    transform: rotate(360deg) scale(1.4);
  }
}

.payment__period {
  text-align: center;
  position: relative;
  padding-left: 10px;
  font-size: 18px;

  .payment__item:hover &,
  .payment__item:focus & {
    &::before {
      content: "\29D7";

      color: $accent-color;
      position: absolute;
      transform: scale(1.4);
      top: 0;
      left: 0;
      animation: rotateAndZoom 2s 500ms;

    }
  }



  @media screen and (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablet-max) {
    font-size: 16px;
    font-weight: 500;
  }
}

.payment__btn-wrapper {
  padding: 33px 0;
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: $card-bg-color;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: visibility $transition-props,
    opacity $transition-props;

  @media screen and (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablet-max) {
    padding: 17.5px 0;
  }
}

.payment__button-info {
  @extend .button-common;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: $background-color;
  padding: 11px 47px;
  background-color: $button-color;

  &:hover,
  &:focus {
    padding: 11px 50px;
    background: $accent-color;
  }

  @media screen and (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablet-max) {
    padding: 10px 24px;

    &:hover,
    &:focus {
      padding: 10px 30px;
      background: $accent-color;
    }
  }
}