.rail-trans__bg {
    background-image: linear-gradient(#393939, #393939ea, #393939),

    url("#{$public-url}mobile/train-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $breakpoint-tablet) {
        background-image: linear-gradient(to right, #39393925, #393939 500px),
        url("#{$public-url}tablet/bg-rail-tablet.png");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;



    }

    @media screen and (min-width: $breakpoint-desktop) {
        background-image: linear-gradient(#393939 2%, #3939390a, #393939 98%),
        linear-gradient(to right, #39393925, #393939 730px),
        url("#{$public-url}desktop/bg-rail-desktop.png");

    }
}