.sea-trans__bg {
  background-image: linear-gradient(#393939, #393939ea, #393939),
    url("#{$public-url}mobile/ship-mobile@2x.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $breakpoint-tablet) {
    background-image: linear-gradient(to left, #39393962, #393939 400px),
      url("#{$public-url}tablet/bg-sea-tablet.png");
    background-size: contain;
    background-position: right;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    background-image: linear-gradient(to left, #39393962, #393939 700px),
      url("#{$public-url}tablet/hero-bg/bg1-tablet.png");
  }
}
