.sea-trans__bg {
    background-image: linear-gradient(#393939, #393939ea, #393939),

    url("#{$public-url}mobile/ship-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $breakpoint-tablet) {
        background-image: linear-gradient(to left, #393939 50%, #39393925),
        url("#{$public-url}tablet/bg-sea-tablet.png");
        background-size: contain;
        background-position: left;
        background-repeat: repeat-x;



    }

    @media screen and (min-width: $breakpoint-desktop) {
        background-image: linear-gradient(#393939 2%, #3939390a, #393939 98%),
        linear-gradient(to left, #393939 50%, #39393925),
        url("#{$public-url}desktop/bg-sea-desktop.png");

    }
}