.sth-korea__bg {
  background-image: linear-gradient(#393939, #393939ea, #393939),
    url("#{$public-url}desktop/bg-sth-korea-desktop.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $breakpoint-tablet) {
    background-image: linear-gradient(to left, #39393962, #393939 500px),
      url("#{$public-url}desktop/bg-sth-korea-desktop.jpg");
    background-size: contain;
    background-position: right;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    background-image: linear-gradient(to left, #39393962, #393939 660px),
      url("#{$public-url}desktop/bg-sth-korea-desktop.jpg");
  }
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 20px;
    font-weight: 500;
  }
}

.korea__general {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-sea {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}

.list-sea__item {
  position: relative;

  &::before {
    content: "\2713";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    color: $button-color;
    fill: $button-color;
  }
}
